.card {
    width: 285px;
    height: 446px;
    background: #f4f5f7;
    position: relative;

    &__img {
        height: 301px;
    }

    &__info {
        margin: 16px 5px 30px 16px;
        text-align: left;

        &-title {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            color: #3a3a3a;
        }

        &-descr {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #898989;
            margin: 8px 0;
        }

        &-price {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            color: #3a3a3a;
        }
    }

    &__popup {
        display: none !important;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: rgba(58, 58, 58, 0);
        transition: background 0.3s ease, opacity 0.3s ease;

        * {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        &--active {
            display: flex !important;

            background: rgba(58, 58, 58, 0.72);

            * {
                opacity: 1;
            }
        }

        &-btn {
            width: 202px;
            height: 48px;
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 16px;
            color: var(--primary);
            margin-bottom: 24px;
        }

        &-links {
            width: 80%;
            display: flex;
            justify-content: space-between;
        }

        &-link {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            color: #fff;
            background: rgba($color: #000000, $alpha: 0);
            display: flex;
            align-items: center;

            p {
                margin-left: 5px;
            }
        }

        &__bottom {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: #000;
        }
    }
}

@keyframes popup-show {
    from {
        transform: translateX(-50%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }
}
