@import './cartItem';
@import './coupon';

.cart {
    padding: 72px 0 69px 0;

    &__hat {
        height: 55px;
        max-width: 565px;
        background: #f9f1e7;
        padding: 0 20px 0 20px;
        margin-bottom: 55px;

        &-coupon {
            margin-top: 55px !important;
        }

        p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            color: #000;
        }
    }

    &__wrapper {
        gap: 30px;
    }

    &__checkout {
        height: 390px;
        background: #f9f1e7;
        padding: 25px 60px 40px 60px;
        text-align: center;

        &_title {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 32px;
            color: #000;
            margin-bottom: 61px;
        }

        &__text {
            text-align: center;
            margin-bottom: 31px;

            &_title {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                color: #000;
            }

            &-descr {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                color: #9f9f9f;
            }

            &-discount {
                text-decoration: line-through;
            }

            &-price {
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 20px;
                color: var(--primary);
            }
        }

        &__btn {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 20px;
            color: #000;
            border: 1px solid #000;
            border-radius: 15px;
            width: 222px;
            height: 58px;
            background-color: rgba($color: #000000, $alpha: 0);
            margin-top: 11px;
        }
    }

    &__add-new-coupon {
        width: 290px;
        text-align: center;
        height: 60px;
        font-weight: 400;
        font-size: 20px;
        color: #000;
        border: 1px solid #000;
        border-radius: 15px;
        background-color: rgba($color: #000000, $alpha: 0);
    }
}

@media (max-width: 992px) {
    .cart {
        flex-direction: column;
        justify-content: center !important;
        gap: 75px;

        &__hat {
            margin: 0 auto 55px auto;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 576px) {
    .cart {
        &__hat {
            height: auto;
            padding: 15px 20px;
            justify-content: space-around !important;

            &_descr {
                text-align: center;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}
