@import './node_modules/bootstrap/scss/bootstrap';

:root {
    --primary: #b88e2f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    border: none;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.hr-separator {
    width: 100%;
    height: 2px;
    color: #d9d9d9;
    background-color: #d9d9d9;
}

// components
@import './components/header/header';
@import './components/card';
@import './components/footer';
@import './components/subheaderNav';
@import './components/btns';
@import './components/feature';

// pages
@import './pages/main';
@import './pages/shop';
@import './pages/Products/product';
@import './pages/Cart/cart';
