.shop {
    &__subheader {
        height: 100px;
        background: #f9f1e7;

        .container {
            height: 100%;
        }

        &-item {
            background-color: rgba(#000000, 0);

            p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                color: #000;
                margin-left: 12px;
            }
        }
    }

    &__cards {
        margin: 23px auto 70px auto;
    }

    &__card {
        margin: 40px auto 0 auto;
    }

    &__dots {
        margin: 0 auto 85px auto;
    }

    &__dot {
        border-radius: 10px;
        width: 60px;
        height: 60px;
        background: #f9f1e7;
        margin-right: 38px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: #000;

        &:last-child {
            margin-right: 0;
        }

        &-active {
            background: var(--primary);
            color: #fff;
        }

        &-additional {
            width: 98px;
        }
    }
}

@media (max-width: 768px) {
    .shop {
        &__dot {
            width: 43px;
            height: 43px;
            font-size: 15px;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }

            &-additional {
                width: 85px;
                font-size: 18px;
            }
            &-prev {
                margin-right: 17px;
            }
            &-next {
                margin-left: 7px;
            }
        }
    }
}

@media (max-width: 498px) {
    .shop {
        &__dot {
            width: 32px;
            height: 47px;
            font-size: 13px;
            margin-right: 4px;

            &:last-child {
                margin-right: 0;
            }

            &-additional {
                width: 65px;
                font-size: 15px;
            }
            &-prev {
                margin-right: 10px;
            }
            &-next {
                margin-left: 6px;
            }
        }
    }
}
