.features {
    padding: 100px 0;
    background: #faf3ea;
}

.feature {
    margin: 0 auto;

    &__container {
        gap: 40px;
    }

    &-text {
        margin-left: 10px;

        p {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            color: #898989;
        }
    }

    &-title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 25px;
        line-height: 150%;
        color: #242424;
        margin-bottom: 2px;
    }

    &-hr {
        display: none;
    }
}

@media (max-width: 1200px) {
    .shop {
        &__features {
            padding: 40px 0;
        }

        &__feature {
            width: 50%;
            margin: 20px 0;
        }
    }
}

@media (max-width: 992px) {
    .feature {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .features {
        padding: 36px 0;
    }

    .feature {
        width: 100%;
        margin: 30px 0;
        text-align: center;
        justify-content: center;

        &__container {
            gap: 0;
        }

        svg {
            height: 45px;
        }

        &-title {
            font-weight: 550;
            font-size: 20px;
        }

        p {
            font-size: 17px;
        }

        &-hr {
            display: block;
            height: 1px;
            width: 100%;
        }
    }
}
